
:root{

--fundo:#fcf5d9;
--cartao-frente:#f2a0ff;
--cartao-verso:#9370DB;
--branco: #FFFAFA;
--preto: #000000;
--destaque: #FF69B4;

}

body{

    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco) ;
    width: 100;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.conteudo-cartao{
    background-color:var(--cartao-frente);

}

.cartao{
    margin: 1rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    }

.conteudo-cartaoh3{
    border: 1px solid var(--destaque);
    position: absolute;
    padding: 0,5rem;
}


