:root{

--fundo: #FFB6C1
--cartao-frente:#9400D3
--cartao-verso:#9370DB
--branco:#FFFAFA
--preto:#000000
--destaque:#FF69B4

}

body{

    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco) ;
    width: 100;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
}

.conteudo-cartao{
    background-color:var(--cartao-frente);

}